[submodule "xcode-ios/PagePeel"]
	path = xcode-ios/PagePeel
	url = git://github.com/markrickert/iOS-PagePeel-Example.git
[submodule "macruby/HelloApp"]
	path = macruby/HelloApp
	url = git://github.com/jamesotron/HelloApp.git
[submodule "js/beautify"]
	path = js/beautify
	url = git://github.com/einars/js-beautify.git
[submodule "xcode-osx/DevWorld-2010-Cocoa-Workshop"]
	path = xcode-osx/DevWorld-2010-Cocoa-Workshop
	url = git://github.com/jamesotron/DevWorld-2010-Cocoa-Workshop.git
