[submodule "xcode-ios/PagePeel"]
	path = xcode-ios/PagePeel
	url = git://github.com/markrickert/iOS-PagePeel-Example.git
[submodule "macruby/HelloApp"]
	path = macruby/HelloApp
	url = git://github.com/jamesotron/HelloApp.git
