/* ===========   Host Settings Module Styling   =========== */
.dnnHostSettings{width:100%;margin:2em auto;}
	.dnnHostSettings .dnnFormItem input, .dnnHostSettings .dnnFormItem .dnnFormInput, .dnnHostSettings .dnnFormItem textarea{width:45%;}
		.dnnHostSettings .dnnFormItem textarea{min-height:8em;}
	 .dnnForm.dnnHostSettings input[type=image],.dnnForm.dnnHostSettings input[type=checkbox], .dnnForm.dnnHostSettings input[type=radio]{width:auto;}
	.dnnForm.dnnHostSettings .dnnFormMessage.dnnFormValidationSummary{max-width:100%;margin-bottom:1em;}
.dnnHostSettings .dnnFormItem label{width:30%;}
.dnnHSRadioButtons, .dnnhsSMTPSettings .dnnHSRadioButtons{display:block;overflow:hidden;}
	.dnnFormItem .dnnHSRadioButtons label, .dnnFormItem .dnnHSRadioButtons input{float:left;padding:0;width:3%;text-align:left;}
	.dnnFormItem .dnnHSRadioButtons label{width:20%;padding-left:3px;}
		.dnnForm.dnnHostSettings .dnnhsOtherSettings .dnnFormItem input, .dnnForm.dnnHostSettings .dnnhsPaymentSettings .dnnFormItem input{margin-right:0.5em;}
	.dnnForm.dnnHostSettings .dnnHSRadioButtons label, .dnnForm.dnnHostSettings .dnnhsSMTPSettings .dnnHSRadioButtons label, .dnnForm.dnnHostSettings .dnnhsOtherSettings .dnnHSRadioButtons label{width:auto;padding:0 5px 0 0;margin-left:3px;text-align:left;font-weight:normal;margin-top:0;}
	.dnnhsPerformanceSettings .psPageStateWarning{margin:0 0 0.6em 32%;padding:0;}
	.dnnhsPerformanceSettings .psPageStateWarning .dnnFormMessage.dnnFormWarning{width:20em;display:block;margin-top:0;}
	.dnnForm .dnnFormItem.dnnhsUpgradeLog{border-top:1px #ccc solid;margin-top:1em;padding-top:1.5em}
	.asContentFriendlyUrls a.CommandButton{display:block;font-weight:bold;}
	.dnnForm.dnnHostSettings .dnnRequestFilter td{padding:3px 5px;position:relative}
			.dnnForm.dnnHostSettings .dnnRequestFilter td label{position:relative}
		.dnnForm.dnnHostSettings .dnnRequestFilter label{width:100%;}
		.dnnForm.dnnHostSettings .dnnRequestFilter input{margin-right:2%;}
		.dnnForm.dnnHostSettings .dnnRequestFilter .dnnFormWarning{max-width:100%;}
		.ssosContent ul.dnnActions{border:none;margin:0;}
.dnnHostSettings br{display:none !important;font-size:0;line-height:0;border-collapse:collapse;}
.rfAddRule .dnnPrimaryAction, .rfAddRule a.dnnPrimaryAction:link, .rfAddRule a.dnnPrimaryAction:visited{color:#fff;}
.asContentFriendlyUrls .dnnFormItem input, .asContentFriendlyUrls .dnnFormItem textarea {width:250px;}
/* ===========   End Host Settings Module Styling   =========== */