
body{position: relative; width: 900px; margin-right: auto; margin-left: auto; text-align: left;}

.dnnForm{width:900px;}
.dnnFormItem .installRadioButtons label{width:70%; text-align:left; font-weight:normal; margin-left:5px;  }

.dnnFormItem .permissionsCheckBoxes label{width:200px; text-align:left; font-weight:normal; margin-left:5px; display:inline-block; }
.dnnInstall .dnnFormItem input[type="checkbox"]{width:auto; float:none; min-width: 25px;}
.dnnFormItem .databaseRadioButtons{width: 35%;}
.dnnFormItem .databaseRadioButtons label{width:auto; text-align:left; font-weight:normal; margin:0px 10px 0px 5px; display:inline-block;}

A.dnnDisabledAction:link, A.dnnDisabledAction:visited, A.dnnDisabledAction:active, A.dnnDisabledAction:hover
{
	text-decoration: none;
	color: Silver;
}

.permissionsCheckBoxes .aspNetDisabled, .permissionsCheckBoxe a.aspNetDisabled, .permissionsCheckBoxe .dnnDisabled, a.dnnDisabled { color: black; display:inline-block; width:250px; }

#Progress div { height: 36px; margin: 2px; border: 1px solid #ececec; display: inline; }
.Progress { background-color: white; }
.ProgressOn { background-color: #cc0000; }

       
H3  
{
    font-size:  1.2em; 
    font-weight:  bold; 
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align:left; 
}