/* ===========   Admin Settings Module Styling   =========== */
.dnnSiteSettings, .dnnPortalSignup, .dnnExportPortal{width:95%;margin:2em auto;}
	.dnnSiteSettings div.ssBasicSettings, .dnnSiteSettings div.ssAdvancedSettings, .dnnSiteSettings div.ssStylesheetEditor{padding:0;margin-top:1em;}
		.dnnSiteSettings .dnnFormItem input[type="text"], .dnnSiteSettings .dnnFormItem .dnnFormInput, .dnnSiteSettings .dnnFormItem textarea, 
		.dnnPortalSignup .dnnFormItem input[type="text"], .dnnPortalSignup .dnnFormItem .dnnFormInput, .dnnPortalSignup .dnnFormItem textarea,
		.dnnExportPortal .dnnFormItem input[type="text"], .dnnExportPortal .dnnFormItem textarea{width:50%;}
		.dnnSiteSettings textarea{min-height:100px;}
		.dnnForm input[type="checkbox"]{width:auto;}
			.dnnForm .dnnGrid td input[type="checkbox"]{margin-left:5px;margin-right:5px;}
	.ssbsPortalAppearance td span, .ssbsPortalAppearance td span.NormalBold{font-weight:normal;}
	.dnnFormItem.ssbsAppearance label{width:20%;text-align:right;padding-right:2%;font-weight:bold;}
		.dnnFormItem.ssbsAppearance label label{width:100%;}
	.dnnSiteSettings .ssseContent textarea{margin:1em;min-width:52em;}
	.ssseContent ul.dnnActions{padding:0em 2em 3em;border:none;overflow:hidden;clear:both;}
	.ssasPremiumModule td.dnnFormLabel{width:100%;text-align:left;font-weight:normal;margin:0;}
	.dnnSiteSettings div.dnnssStat{border-top:1px #ccc solid;padding:1em 0 4em;overflow:hidden;}
	.dnnssStat p{float:left;padding-right:2em;}
		p.dnnFormRequired span{border-left:5px #F00 solid;padding-left:0.5em;}
	.dnnGrid{float:right;}
	.dnnGrid.dnnPermissionsGrid{float:none;}
		.dnnGrid label{width:auto;font-weight:normal;text-align:left;margin-top:0;}
			.dnnGrid td input.dnnFormInput{width:42%;}
	.ssasPortalAlias .dnnFormItem span.CommandButton{clear:both;overflow:hidden;display:block;margin-left:26%;}
	.dnnPortalSignup .dnnFormMessage.dnnFormWarning{max-width:100%;}		
		#dnnPortals .vLetterSearch li{list-style-type:none; display:inline; padding-left: 1em;}
.vLetterSearch{padding-top:10px;padding-bottom:10px;text-align: center;}
.dnnPortalSignup h2.dnnFormSectionHead a:hover{background:#f1f1f1;}
.dnnPortalSignup h2.dnnFormSectionHead a.dnnSectionExpanded{background:inherit;}
.dnnPortalSignup h2.dnnFormSectionHead a.dnnSectionExpanded:hover{background:#f1f1f1;}
/* ===========   End Admin Settings Module Styling   =========== */