* { 
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    color: #343434;
    font: 13px arial;
    background: transparent url(body-bg.png);
}

a {
    color: #205aaf;
    text-decoration: none;
}
a img {
    border: 0;
}
a:hover {
    color: #343434;
}

#wrapper {
    padding-top: 7px;
    background: transparent url(colorbar.png) repeat-x top left;
}
#container {
    background: transparent url(header-bg.png) repeat-x top left;
    position: relative;
}
#countdown {
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#countdown img.ball {
    width: 14px;
    height: 14px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#countdown img.heart {
    width: 18px;
    height: 15px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#countdown img.clover {
    width: 17px;
    height: 16px;
    position: absolute;
    top: -9999px;
    left: -9999px;
}
#countdown img.separator {
    width: 14px;
    height: 14px;
}
body.stpatty #countdown img.separator {
    width: 18px;
    height: 15px;
}
div.screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F00;
}
#gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url(gradient.png) no-repeat 50% -100px;
    z-index: 1;
    height: 1236px;
}
body.degrade #gradient {
    display: none;
}
#header {
    height: 225px;
    position: relative;
    margin: 0 auto;
    width: 930px;
    z-index: 10;
}
#header h3, #countdown h3 {
    font-family: 'Droid Sans', arial;
    font-weight: normal !important;
    color: #898989;
    position: absolute;
    padding-top: 15px;
    bottom: 90px;
    right: -22px;
    font-size: 21px;
    background: transparent url(map-icon.png) no-repeat bottom right;
    height: 21px;
    line-height: 21px;
    margin: 0 !important;
    width: 515px;
    z-index: 99;
}
#countdown h3 a,
#header h3 a {
    color: #898989;
    padding-right: 45px;
    position: absolute;
    z-index: 99;
}
#logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 99;
}
#nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 99;
}
#nav li, #countdown li {
    position: relative;
    list-style: none;
    margin: 0 0 0 8px;
    padding: 0;
    float: left;
    background: transparent url(nav-button-left-sprite.png) no-repeat top left;
}
#nav li a, #countdown li a {
    display: block;
    background-image: url(nav-button-sprite.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 31px;
    margin-left: 10px;
    line-height: 31px;
    font-family: 'Droid Sans', Arial;
    font-size: 16px;
    padding: 0 12px 0 2px;
}
#nav li:hover, #countdown li:hover {
    background-position: left -33px;
}
#nav li:hover > a, #countdown li:hover > a {
    background-position: right -33px;
    color: #205aaf;
}
#nav li:active, #countdown li:active,
#nav li.active, #countdown li.active {
    background-position: left -66px;
}
#countdown li:active > a, #countdown li.active > a,
#nav li:active > a, #nav li.active > a {
    background-position: right -66px;
    color: #FFF;
}

#about #nav li#nav-info { background-position: left -66px; }
#about #nav li#nav-info > a, #about #nav li#nav-info > a {
    background-position: right -66px;
    color: #FFF;
}

#travel #nav li#nav-info { background-position: left -66px; }
#travel #nav li#nav-info > a, #travel #nav li#nav-info > a {
    background-position: right -66px;
    color: #FFF;
}

#register #nav li#nav-info { background-position: left -66px; }
#register #nav li#nav-info > a, #register #nav li#nav-info > a {
    background-position: right -66px;
    color: #FFF;
}

#travel #nav li#nav-info { background-position: left -66px; }
#register #nav li#nav-info { background-position: left -66px; }

#canvas-content {
    margin: 100px auto 0 auto;
    width: 930px;
    z-index: 99;
    position: relative;
}
#content {
    padding: 40px;
    background: #FFF;
    width: 850px;
    margin: 50px auto 100px auto;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    z-index: 10;
    position: relative;
}
#content dl {
    margin: 0;
    padding: 0;
}
#content p,
#content dd {
    line-height: 1.4em;
}
#content h1 {
    margin: 0 0 40px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 35px;
}
#content h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-family: 'Droid Sans', Arial;
    font-weight: normal;
    color: #363636;
    font-size: 25px;
}
#content h3 {
    font-family: 'Droid Sans', Arial;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
#content h4 {
    color: #343434;
    font-family: 'Droid Sans', Arial;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
br {
    margin: 0;
    padding: 0;
    clear: both;
}
#countdown-message {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #666 url(footer-bg.png);
    position: absolute;
    bottom: -50px;
    width: 500px;
    padding: 10px;
    z-index: 99;
    right: 0;
    display: none;
}
#countdown-message img {
   float: left;
   margin-right: 10px;
}
#countdown-watch-again {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    background: rgba(153,153,153,0.8);
    color: #FFF;
    -webkit-border-radius: 5px;
    width: 200px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    z-index: 10000;
}
#countdown-watch-again img {
    float: left;
    margin-right: 10px;
}

#countdown-watch-again a {
    color: #FFF;
    text-decoration: none;
}

/* Page Specific Styles */
#index #logo {
    cursor: move;
}
#index.degrade #logo {
    cursor: pointer;
}
body.hactivated #footer a,
body.hactivated #header a,
body.hactivated #nav a {
    cursor: move;
}
#index #canvas-content {
    color: #898989;
    font-family: 'Droid Sans';
}
#index #canvas-content h1 {
    font-size: 80px;
    margin: 40px 0 30px 0;
    font-weight: normal;
    color: #a1a1a1;
}
#index #canvas-content p a {
    text-decoration: underline;
    color: #205aaf;
}

#index #qr-code {
    bottom: 55px;
    height: 283px;
    margin-left: -450px;
    left: 50%;
    position: absolute;
    z-index: 100;
}
#index #qr-code span {
    color: #7db631;
    display: none;
    font: 23px/1.3 "Droid Sans", sans-serif;
    left: 170px;
    position: absolute;
    top: 70px;
    width: 175px;
}
#index #qr-code:hover span { display: block; }

/* Index page during conference */
#index-live #content {
    font-family: 'Droid Sans', Arial;
    padding: 10px 10px 300px;
    background: transparent;
    width: 940px;
    margin: 50px auto 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border: none;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#index-live #qr-code {
    bottom: 55px;
    height: 283px;
    margin-left: -325px;
    left: 50%;
    position: absolute;
    z-index: 11;
}
#index-live #qr-code span {
    color: #7db631;
    display: none;
    font: 23px/1.3 "Droid Sans", sans-serif;
    left: 170px;
    position: absolute;
    top: 70px;
    width: 175px;
}
#index-live #qr-code:hover span { display: block; }

#index-live #main {
    width: 620px;
    float: left;
    margin-right: 20px;
}
#index-live #sidebar {
    float: left;
    width: 300px;
}
#index-live div.content-item {
    background: #FFF;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 20px;
    border-radius: 4px 4px 4px 4px;
}
#index-live div.content-item div.content {
    padding: 20px 30px;
}
#index-live div.content-item h1,
#index-live div.content-item h2 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 20px 30px;
    margin-bottom: 10px;
}
#index-live div.content-item h1 {
    color: #111;
    font-size: 25px;
}
#index-live div.content-item h2 {
    font-size: 22px;
    color: #363636;
}
#index-live #livestream {
    position: relative;
}
#index-live #livestream #stream-nav {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
#index-live #livestream #stream-nav a {
    display: inline-block;
    height: 69px;
    border-left: 1px dotted #d2d2d2;
    line-height: 72px;
    width: 140px;
    text-align: center;
    font-family: 'Droid Sans', Arial;
    text-transform: uppercase;
    background: #F6F6F6;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}
#index-live #livestream #stream-nav a.active {
    border-bottom: 3px solid #0a67c5;
    height: 66px;
    background: #FFF;
}
#index-live #livestream div.content {
    margin-left: -5px;
}
#index-live #livestream iframe {
    border: none;
    display: block;
}
#index-live #livestream #streaming-embed {
    height: 352px;
    width: 570px;
}
#index-live #livestream #captioning-gadget {
    height: 188px;
    width: 570px;
}
#index-live #photos {
}
#index-live #photos div.photo {
    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    float: left;
}
#index-live #photos div.large {
    width: 230px;
    height: 210px;
    margin-bottom: 0;
}
#index-live #photos div.photo a {
    display: block;
    width: 100px;
    height: 100px;
}
#index-live #photos div.large a {
    height: 210px;
    width: 250px;
}
#index-live #photos div.last {
    margin-right: 0;
}
#index-live #photos #photo-paging {
    text-align: center;
    clear: left;
}
#index-live #photos #photo-paging a {
    width: 14px;
    height: 16px;
    display: inline-block;
    background: transparent url(photo-pager.png) no-repeat top -16px;
    margin: 10px 5px 5px 5px;
}
#index-live #photos #photo-paging a.active {
    background-position: top left;
}
#index-live #countdown-experiment {
    margin-bottom: 100px;
}
#index-live #countdown-experiment h4 {
    font-size: 22px;
    color: #898989;
    margin: 20px 0;
}
#index-live #countdown-experiment a {
    font-size: 15px;
}
#index-live div.content-item div.arrow-nav {
    background: #e4e4e4;
    background: -moz-linear-gradient(top, #f1f1f1 0%, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e4e4e4));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#e4e4e4',GradientType=0 );
    height: 30px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}
#index-live div.content-item div.arrow-nav a {
    display: inline-block;
    height: 30px;
    width: 147px;
    background-color: transparent;
    background-image: url(scroll-arrows.png);
    background-repeat: no-repeat;
    background-position: 50% top;
}
#index-live div.content-item div.arrow-nav a.up {
    border-right: 1px solid #dfdfdf;
    width: 149px;
}
#index-live div.content-item div.arrow-nav a.up-inactive {
    background-position: 50% -60px;
}
#index-live div.content-item div.arrow-nav a.down {
    background-position: 50% -30px;
    border-left: 1px solid #f6f6f6;
}
#index-live div.content-item div.arrow-nav a.down-inactive {
    background-position: 50% -90px;
}
#index-live #announcements h3 {
    margin-bottom: 0;
    background: #0a67c5;
    color: #FFF;
    font-size: 25px;
    padding: 15px 30px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    position: relative;
}
#index-live #announcements h3 a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 41px;
    color: #FFF;
    background: #215ba3;
    text-align: center;
    font-size: 11px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    padding-top: 17px;
}
#index-live #announcements div.content {
    padding: 0;
    height: 300px;
    overflow: hidden;
}
#index-live #announcements div.announcement {
    border-bottom: 1px solid #f8f3e6;
    padding: 20px 30px;
}
#index-live #announcements div.announcement p {
    margin: 0;
    padding: 0;
}
#index-live #announcements div.announcement p.date {
    color: #939393;
    font-style: italic;
    font-size: 11px;
    margin-top: 4px;
}
#index-live #twitter h3 {
    border-bottom: 1px dotted #d2d2d2;
    padding: 14px 30px;
    font-size: 22x;
    color: #363636;
    position: relative;
    margin-bottom: 0;
}
#index-live #twitter h3 a {
    background-color: #f6f6f6;
    background-image: url(twitter-logo.png);
    background-repeat: no-repeat;
    background-position: 50% top;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 56px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-left: 1px dotted #d2d2d2;
}
#index-live #twitter h3 a:hover {
    background-color: #5fc6e5;
    background-position: 50% -56px;
}
#index-live #twitter div.content {
    padding: 0;
    height: 300px;
    overflow: hidden;
}
#index-live #twitter div.tweet {
    border-bottom: 1px solid #f8f3e6;
    padding: 20px 30px;
    color: #363636;
}
#index-live #twitter div.tweet p {
    margin: 0;
    padding: 0;
}
#index-live #twitter div.tweet p.date {
    color: #939393;
    font-style: italic;
    font-size: 11px;
    margin-top: 4px;
}
#index-live #io-world {
    background: #FFF url(io-world-preview.jpg) no-repeat left 55px;
    height: 330px;
    position: relative;
}
#index-live #io-world h3 {
    font-size: 22px;
    color: #363636;
    padding: 15px 30px;
}
#index-live #io-world a {
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    font: 15px 'Droid Sans', Arial;
}


/* I/O World */
#io2011 h1,
#io2011 h2 { 
    font-size: 25px;
    line-height: 1;
    margin-bottom: 40px;
}

#io2011 #gradient { display: none; }

.expanded #header { height: 150px; }

#io2011 #content {
    background: transparent url(gradient.png) no-repeat 50% bottom;
    margin: -18px 0 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}
.degrade #io2011 #content { background: transparent; }

#io2011 #no-support {
    background: #fff;
    margin: 80px auto 150px;
    width: 940px;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
.js #io2011 #no-support { display: none; }
#io2011 #no-support div { 
    font: normal 13px/1.3 "Droid Sans", "Arial", sans-serif;
    padding: 25px 35px 35px; 
}
#io2011 #no-support strong { 
    color: #898989;
    display: block;
    font-size: 42px;
}

#io2011 #earth-interface { 
    display: none;
    overflow: hidden; 
    padding-bottom: 1px;
}
.js #io2011 #earth-interface { display: block; }
.plugin-failure #earth-interface { margin-bottom: 55px; }

#io2011 #earth { 
    background: #e5e3df; 
    height: 430px;
    position: relative;
    width: 100%;
}
#io2011 #earth .cover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#earth-interface #view {
    background: transparent;
    display: none;
    height: 46px;
    text-align: center;
    width: 100%;
}
.plugin-created #earth-interface #view { display: block; }
.degrade #earth-interface #view { height: 45px; }
#earth-interface #view span {
    background: url(expand-collapse.png);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 34px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-indent: -999em;
    width: 51px;
}
#earth-interface #view span:hover { background-position: 0 -34px; }
.expanded #earth-interface #view span { 
    background-position: 0 -68px;
    top: 12px;
}
.expanded #earth-interface #view span:hover { background-position: 0 -68px; }

#io2011 .tweet-balloon {
    overflow: hidden;
    width: 450px;
}
#io2011 .tweet-balloon img {
    display: block;
    float: left;
    margin-right: 30px;
}
#io2011 .tweet-balloon .tweet { 
    color: #363636;
    float: left;
    font: normal 15px/1.3 "Droid Sans", "Arial", sans-serif;
    width: 347px;
}
#io2011 .tweet-balloon .tweet h4 { 
    color: #ff001a;
    font: bold 13px/1.3 "Droid Sans", "Arial", sans-serif;
    margin: 0 0 1em;
}
#io2011 .tweet-balloon .tweet .time { 
    color: #939393;
    font-size: 9px;
    margin: 15px 0 0;
}

#io2011 #tweets {
    background: #fff;
    display: none;
    margin: 5px auto 150px;
    overflow: hidden;
    width: 940px;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
.plugin-created #io2011 #tweets { display: block; }
.expanded #tweets { display: none !important; }

#io2011 #tweet-list {
    float: left;
    margin: 45px 0 45px 45px;
    width: 580px;
}

#io2011 #users {
    list-style: none;
    margin: 0;
    min-height: 440px;
    padding: 0;
}
#io2011.degrade #users { margin-bottom: 35px; }
#io2011 #tweets .loading {
    background: url(io-world-loader.gif) center center no-repeat;
}

#io2011 #users li {
    background: #eee;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    margin: 0 7px 7px 0;
    position: relative;
    width: 48px;
    vertical-align: top;
}
#io2011.degrade #users li { display: inline !important; }
#io2011 #users li img { display: block; }
#io2011 #users li span { 
    border: 3px solid transparent;
    display: block;
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 42px;
    z-index: 1;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#io2011 #users li.selected span { 
    border-color: #ff001a;
}

#io2011 #recent-tweets {
    float: right;
    margin: 45px 45px 45px 0;
    position: relative;
    width: 225px;
}

#io2011 #previous-tweets {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#io2011 #previous-tweets li {
    color: #363636;
    margin: 0 0 15px;
    overflow: hidden;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
#io2011 #previous-tweets li:nth-child(1) { opacity: 1; }
#io2011 #previous-tweets li:nth-child(2) { opacity: 0.9; }
#io2011 #previous-tweets li:nth-child(3) { opacity: 0.7; }
#io2011 #previous-tweets li:nth-child(4) { opacity: 0.5; }
#io2011 #previous-tweets li:nth-child(5) { opacity: 0.3; }
#io2011 #previous-tweets li:nth-child(6) { opacity: 0; }

#io2011 #chime-in { 
    font-size: 12px;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 11px;
}

#io2011 #badge {
    font: 16px/1.4 "Droid Sans", sans-serif;
    padding: 45px 0 0;
    width: 535px;
}

/* Sandbox */
#sandbox #content h1 {
    color: #fff;
    font: normal 25px/1 "Droid Sans", "Arial", sans-serif;
    left: 0;
    margin: 0;
    position: absolute;
    top: 45px;
    z-index: 2;
}
#sandbox #content {
    background: transparent;
    margin: -17px 0 0;
    padding: 0;
    width: 100%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}
.degrade #sandbox #content { background: transparent; }

#sandbox #floor-plan { 
    background: #000 url(floor-plan-gradient.png) left top repeat-x;
    overflow: hidden;
    width: 100%;
}
#sandbox #floor-plan .container { 
    margin: 0 auto;
    position: relative;
    width: 940px;
}
.js #sandbox #floor-plan,
.js #sandbox #floor-plan .container { height: 430px; }
.degrade #floor-plan .container { overflow: hidden !important; }

#sandbox #floor-plan #floor-nav { 
    bottom: 60px;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -8px;
    width: 208px;
    z-index: 2;
}
.js #sandbox #floor-plan #floor-nav { display: block; }
.degrade #floor-plan #floor-nav { right: 0 !important; }
#sandbox #floor-plan #floor-nav li { 
    float: left;
    height: 49px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 104px;
}
#sandbox #floor-plan #floor-nav li a { 
    background: url(floor-plan-nav.png) no-repeat;
    display: block;
    overflow: hidden;
    height: 100%;
    text-indent: -999em;
    width: 100%;
}
#sandbox #floor-plan #floor-nav li.floor-2 a { background-position: left top; }
#sandbox #floor-plan #floor-nav li.floor-3 a { background-position: right top; }
#sandbox #floor-plan #floor-nav li.floor-2 a:hover,
#sandbox #floor-plan #floor-nav li.floor-2 a.on { background-position: left bottom; }
#sandbox #floor-plan #floor-nav li.floor-3 a:hover,
#sandbox #floor-plan #floor-nav li.floor-3 a.on { background-position: right bottom; }

#sandbox #floor-plan #floors { 
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 940px;
}
.js #sandbox #floor-plan #floors { top: -430px; }

#sandbox #floor-plan .floor { 
    background: url(floor-plan.png) no-repeat;
    height: 430px;
    margin: 0;
    padding: 0;
    width: 940px;
}
#sandbox #floor-plan #floor-2 { background-position: left center; }
#sandbox #floor-plan #floor-3 { background-position: right center; }

#sandbox #floor-plan .pods { 
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
#sandbox #floor-plan .pods li {
    background: url(floor-plan-pins.png) no-repeat;
    position: absolute;
}

#sandbox #floor-plan .pods .android {
    background-position: -584px 0;
    height: 123px;
    left: 537px;
    top: 25px;
    width: 119px;
    z-index: 1;
}
#sandbox #floor-plan .pods .android:hover,
#sandbox #floor-plan .pods .android.on { background-position: -584px -146px; }
#sandbox #floor-plan .pods .google-tv {
    background-position: -703px 0;
    height: 90px;
    left: 691px;
    top: 112px;
    width: 78px;
    z-index: 1;
}
#sandbox #floor-plan .pods .google-tv:hover,
#sandbox #floor-plan .pods .google-tv.on { background-position: -703px -146px; }
#sandbox #floor-plan .pods .google-apps {
    background-position: 0px 0;
    height: 127px;
    left: 126px;
    top: 110px;
    width: 98px;
    z-index: 1;
}
#sandbox #floor-plan .pods .google-apps:hover,
#sandbox #floor-plan .pods .google-apps.on { background-position: 0 -146px; }
#sandbox #floor-plan .pods .geo {
    background-position: -98px 0;
    height: 84px;
    left: 193px;
    top: 179px;
    width: 76px;
    z-index: 2;
}
#sandbox #floor-plan .pods .geo:hover,
#sandbox #floor-plan .pods .geo.on { background-position: -98px -146px; }
#sandbox #floor-plan .pods .app-engine {
    background-position: -174px 0;
    height: 63px;
    left: 293px;
    top: 138px;
    width: 59px;
    z-index: 5;
}
#sandbox #floor-plan .pods .app-engine:hover,
#sandbox #floor-plan .pods .app-engine.on { background-position: -174px -146px; }
#sandbox #floor-plan .pods .accessibility {
    background-position: -233px 0;
    height: 63px;
    left: 345px;
    top: 131px;
    width: 52px;
    z-index: 4;
}
#sandbox #floor-plan .pods .accessibility:hover,
#sandbox #floor-plan .pods .accessibility.on { background-position: -233px -146px; }
#sandbox #floor-plan .pods .dev-tools {
    background-position: -285px 0;
    height: 63px;
    left: 386px;
    top: 122px;
    width: 55px;
    z-index: 3;
}
#sandbox #floor-plan .pods .dev-tools:hover,
#sandbox #floor-plan .pods .dev-tools.on { background-position: -285px -146px; }
#sandbox #floor-plan .pods .commerce {
    background-position: -340px 0;
    height: 63px;
    left: 436px;
    top: 122px;
    width: 55px;
    z-index: 2;
}
#sandbox #floor-plan .pods .commerce:hover,
#sandbox #floor-plan .pods .commerce.on { background-position: -340px -146px; }
#sandbox #floor-plan .pods .youtube {
    background-position: -395px 0;
    height: 63px;
    left: 468px;
    top: 112px;
    width: 59px;
    z-index: 1;
}
#sandbox #floor-plan .pods .youtube:hover,
#sandbox #floor-plan .pods .youtube.on { background-position: -395px -146px; }
#sandbox #floor-plan .pods .chrome {
    background-position: -453px 0;
    height: 146px;
    left: 692px;
    top: 16px;
    width: 131px;
    z-index: 1;
}
#sandbox #floor-plan .pods .chrome:hover,
#sandbox #floor-plan .pods .chrome.on { background-position: -453px -146px; }

#sandbox #floor-plan .pods li a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    width: 100%;
}

#sandbox #developers-questions {
    background: #fff;
    margin: 45px auto 150px;
    overflow: hidden;
    padding: 45px;
    width: 940px;
    -moz-box-shadow: 0 0 6px #c6c6c6;
    -webkit-box-shadow: 0 0 6px #c6c6c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}

#sandbox .filter { 
    position: relative; 
    z-index: 3;
}
#sandbox .filter label {
    color: #343434;
    font: 12px/1 "Droid Sans", sans-serif;
    line-height: 2em;
}
#sandbox .filter .current {
    background: transparent url(filter-sprite-white.png) no-repeat right top;
    cursor: pointer;
    height: 31px;
    margin: 0 -2px;
}
#sandbox .filter:hover .current { background-position: right bottom; }
#sandbox .filter .current span {
    background: url(filter-sprite-white.png) no-repeat left top;
    color: #205aaf;
    cursor: pointer;
    display: inline-block;
    font: 15px/31px 'Droid Sans', sans-serif;
    height: 31px;
    padding-left: 14px;
}
#sandbox .filter:hover .current span { background-position: left bottom; }
#sandbox .filter .list {
    background-color: #f0f0f0;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 7px 0;
    position: absolute;
    top: 100%;
    position: absolute;
    z-index: 3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}
#sandbox .filter:hover .list { display: block; }
#sandbox .filter .list li {
    height: 31px;
    padding: 0 14px;
}
#sandbox .filter .list li a { 
    display: block;
    font: 15px/31px 'Droid Sans', sans-serif;
    text-decoration: none;
}

#sandbox #developers { 
    position: relative; 
    z-index: 1; 
}

#sandbox #developers #pod-filters {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
}
#sandbox #developers #pod-filters label {
    color: #878787;
    font-size: 16px;
    line-height: 31px;
    padding-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
}
#sandbox #developers #pod-filters .list { width: 180px; }

.js #sandbox #developers .pod { 
    display: none;
    position: relative;
    z-index: 1;
}
.js #sandbox #developers #all { display: block; }
.js #sandbox #developers .pod h3 { display: none; }

.js #sandbox #developers .company-list {
    list-style: none;
    margin: 0 0 -21px -21px;
    min-height: 500px;
    padding: 20px 0 0;
    position: relative;
    overflow: hidden;
}
.js #sandbox.degrade #developers .company-list { margin-bottom: 8px; }
.js #sandbox #developers .company-list .company {
    border: 1px solid #eaeaea;
    float: left;
    height: 115px;
    margin: 0 0 20px 20px;
    width: 115px;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
.js #sandbox #developers .company-list .company:hover,
.js #sandbox #developers .company-list .on { border-color: #205aaf; }
.js #sandbox #developers .company-list .logo {
    display: block;
    padding: 7px 8px 8px 7px;
    height: 100px;
    width: 100px;
}
.js #sandbox #developers .company-list .info {
    background-color: #ffcb46;
    display: none;
    font: 13px/1.5 "Droid Sans", sans-serif;
    left: 45px;
    padding: 20px;
    position: absolute;
    width: 490px;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.js #sandbox #developers .company-list .info h4 { 
    font-size: 20px; 
    line-height: 1.2;
}
.js #sandbox #developers .company-list .info .product { margin-bottom: 0; }
.js #sandbox #developers .company-list .info .close {
    background: url(info-close.png);
    cursor: pointer;
    display: block;
    height: 12px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 12px;
}

.js #sandbox #developers .company-list .info .caret {
    background: url(company-info-caret.png);
    height: 12px;
    position: absolute;
    width: 15px;
}
.js #sandbox #developers .company-list .info .top {
    background-position: left bottom;
    margin-bottom: 3px;
    top: 100%;
}
.js #sandbox #developers .company-list .info .bottom {
    background-position: left top;
    bottom: 100%;
    margin-top: 3px;
}

#sandbox #videos {
    float: right;
    width: 320px;
}
#sandbox #videos iframe {
    display: block;
    margin-bottom: 45px;
}

#sandbox #questions {
    display: none;
    float: right;
    width: 320px;
}
.js #sandbox #questions { display: block; }

#sandbox #questions #topic-picker { display: none; }
#sandbox #questions #topic-picker.working { 
    background: url(activity-indicator.gif) center center no-repeat;
    display: block; 
    height: 32px;
}
#sandbox #questions #topic-picker.working * { display: none; }
#sandbox #questions #topic-picker #topic-list { width: 320px; }
#sandbox #questions #topic-picker #topic-list li {
    color: #205aaf;
    cursor: pointer;
    height: 31px;
    font: 15px/31px 'Droid Sans', sans-serif;
    padding: 0 14px;
}
#sandbox #questions #topic-picker #topic-list li:hover { color: #343434; }

#sandbox #questions #form-container.working {
    background: url(activity-indicator.gif) center center no-repeat;
    height: 48px;
    margin-top: 16px;
}
#sandbox #questions #form-container.working * { 
    border: 0;
    display: none; 
}

#sandbox #questions #submit-question { 
    border-top: 1px solid #e9e9e9;
    display: none;
    margin-top: 18px;
    padding-top: 17px;
}

#sandbox #questions #submit-question #post-error { 
    display: none;
    border: 2px solid #eb8080;
    font-weight: bold;
    margin-bottom: 18px;
    padding: 3px;
}

#sandbox #questions #submit-question .field { position: relative; }
#sandbox #questions #submit-question .name,
#sandbox #questions #submit-question .location { 
    float: left;
    width: 156px;
}
#sandbox #questions #submit-question .name { margin-right: 8px; }

#sandbox #questions #submit-question label {
    color: #939393;
    cursor: text;
    font-style: italic;
    left: 4px;
    line-height: 1;
    position: absolute;
    top: 5px;
}
#sandbox #questions #submit-question textarea {
    border: 1px solid #d4d4d4;
    height: 8em;
    padding: 4px;
    width: 310px;
}
#sandbox #questions #submit-question input {
    border: 1px solid #d4d4d4;
    padding: 4px;
    width: 146px;
}

#sandbox #questions #submit-question #question-options {
    color: #939393;
    font: 12px/22px 'Droid Sans', sans-serif;
    margin-bottom: 8px;
    text-align: right;
}
#sandbox #questions #submit-question #character-count { 
    color: #343434;
    font-weight: bold; 
}
#sandbox #questions #submit-question .too-long { color: #343434 !important; }
#sandbox #questions #submit-question .too-long #character-count{ color: #f44; }

#sandbox #questions #submit-question .error input,
#sandbox #questions #submit-question .error textarea,
#sandbox #questions #submit-question .too-long textarea {
    border: 2px solid #eb8080;
    padding: 3px;
}
#sandbox #questions #submit-question .error label,
#sandbox #questions #submit-question .too-long label {
    color: #202020;
    font-weight: bold;
}
#sandbox #questions #submit-question .field .error-description, 
#sandbox #questions #submit-question .field .length-description { display: none; }
#sandbox #questions #submit-question .too-long .length-description,
#sandbox #questions #submit-question .error .error-description { 
    color: #444;
    display: block;
    margin: 0.2em 0 0.5em;
}

#sandbox #questions #submit-question div.submit { 
    clear: both; 
    padding: 16px 0 0;
}
#sandbox #questions .working div.submit { background: url(activity-indicator-small.gif) 190px 24px no-repeat; }

#sandbox #questions #submit-question button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    margin: 0 4px 0 0;
}
#sandbox #questions #submit-question button::-moz-focus-inner { padding: 0; }
#sandbox #questions .working input,
#sandbox #questions .working textarea,
#sandbox #questions .working #question-options,
#sandbox #questions .working button.submit,
#sandbox #questions .working button.reset { 
    filter: alpha(opacity=50);
    opacity: 0.5;
    -ms-filter: alpha(opacity=50);
}

#sandbox #questions #login-report {
    margin: 18px 0;
}

#sandbox #questions #question-list {
    border-top: 1px solid #e9e9e9;
    list-style: none;
    margin: 18px 0;
    padding: 17px 0 0 3px;
}
#sandbox #questions #question-list .question {
    line-height: 1.5em;
    margin-bottom: 18px;
}

#sandbox #questions #question-list .ratings {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
}
#sandbox #questions #question-list .ratings li {
    height: 3px;
    margin: 0;
    padding: 0;
}
#sandbox #questions #question-list .ratings span {
    display: block;
    height: 100%;
}
#sandbox #questions #question-list .ratings .plus {
    background-color: #efefef;
    margin: 0 0 3px !important;
}
#sandbox #questions #question-list .ratings .plus span {
    background-color: #edb040;
}
#sandbox #questions #question-list .ratings .minus {
    background-color: #efefef;
    margin: 0;
}
#sandbox #questions #question-list .ratings .minus span {
    background-color: #9ece75;
}

#sandbox #questions #question-list .question p {
    margin: 0;
}
#sandbox #questions #question-list .question .info {
    font-weight: bold;
}
#sandbox #questions #question-list .question .info span {
    border-left: 1px solid #939393;
    color: #939393;
    font-weight: normal;
    margin-left: 8px;
    padding-left: 7px;
}

#sandbox #questions #question-list.working {
    background: url(activity-indicator.gif) center center no-repeat;
    height: 64px;
}
#sandbox #questions #question-list.working * { display: none; }

#sandbox #questions #question-list .vote-options {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}
#sandbox #questions #question-list .vote-options li {
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    vertical-align: top;
}
.degrade #sandbox #questions #question-list .vote-options li { display: inline; }

#sandbox #questions #question-list .vote-options a { 
    background: url(vote-sprite.png);
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -999em;
}
#sandbox #questions #question-list .vote-options .plus { background-position: 0 0; width: 17px; }
#sandbox #questions #question-list .plus .plus,
#sandbox #questions #question-list .vote-options .plus:hover { background-position: 0 -16px; }
#sandbox #questions #question-list .vote-options .minus { background-position: -17px 0; width: 17px; }
#sandbox #questions #question-list .minus .minus,
#sandbox #questions #question-list .vote-options .minus:hover { background-position: -17px -16px; } 
#sandbox #questions #question-list .vote-options .flag { background-position: -34px 0; width: 18px; }
#sandbox #questions #question-list .inappropriate .flag,
#sandbox #questions #question-list .vote-options .flag:hover { background-position: -34px -16px; }

#sandbox #questions #more-questions {
    background: url(view-more-sandbox.png);
    cursor: pointer;
    display: none;
    height: 31px;
    margin-top: 24px;
    overflow: hidden;
    text-indent: -999em;
    width: 319px;
}
#sandbox #questions #more-questions.working {
    background: url(activity-indicator-small.gif) center center no-repeat;
}

/* FAQ */
#faq #content { overflow: hidden; }
#faq div.faq-section {
    width: 45%;
    float: left;
    margin-right: 40px;
}
#faq div.right {
    float: right;
    margin-right: 0;
}
#faq dt {
    font-weight: bold;
    margin-top: 25px;
}
#faq dd {
    margin: 5px 0 0 0;
    padding: 0;
}

/* Sessions */
#sessions { padding-bottom: 1px; }

#agenda h1,
#sessions h1 {
  float: left;
}
#agenda .subhead,
#sessions .subhead {
  float: left;
  margin-left: 20px;
}
#agenda .subhead a,
#sessions .subhead a {
  padding: 0 5px;
}
#sessions #content {
    position: relative;
    padding-bottom: 0;
}

#agenda-container {
  clear: both;
}

#sessions-container {
    border-bottom: 1px solid #ECECEC;
    clear: both;
    margin: 0 0 40px;
    padding-bottom: 0 0 1px;
}

.js #sessions .track { 
    display: none; 
    margin-left: -60px;
}
.js #sessions #all-tracks { display: block; }

.js #sessions .track h2 { display: none; }

#sessions .session {
    display: inline-block;
    margin: 0 0 40px 60px;
    vertical-align: top;
    width: 393px;
}
.degrade #sessions .session,
#sessions.degrade .session { display: inline; }

#sessions .session h3 { margin-bottom: 10px; }
#sessions h3.highlight a { background: #ffcb46; }
#sessions .session h4 { 
    color: #aaa; 
    margin-bottom: 8px;
}

#sessions .session .description { margin: 0 0 1.4em; }
#sessions .session .location-info { 
    color: #888;
    font: 14px/1.2em 'Droid Sans', sans-serif;
    margin: 0 0 12px;
}
#sessions .session .livestream {
    background: url(livestreamed.png) left center no-repeat;
    display: inline-block;
    color: #0a67c5;
    font-size: 9px;
    font-weight: bold;
    height: 9px;
    line-height: 10px;
    margin-left: 8px;
    padding-left: 28px;
    position: relative;
    text-transform: uppercase;
    top: -0.5em;
    vertical-align: bottom;
}

#sessions .session .speaker-name {
    position: relative;
    display: inline-block;
    cursor: help;
}
#sessions .session .speaker-bio {
    position: absolute;
    top: -130px;
    left: -70px;
    height: 92px;
    width: 396px;
    background: transparent url(speaker-bio-info-balloon.png) no-repeat top left;
    display: none;
    font: 13px 'Droid Sans', Arial;
    color: #7b683a;
    font-style: italic;
    padding: 20px;
    z-index: 98;
}
#sessions .right .speaker-bio {
    background: transparent url(speaker-bio-info-balloon-right.png) no-repeat top left;
    left: -270px;
}
#sessions .session .speaker-bio img {
    float: left;
    width: 66px;
}
#sessions .session .speaker-bio p {
    padding: 0 20px 20px 0;
    margin: -5px 0 0 0;
}
#sessions .session .speaker-bio.has-headshot p {
    margin-left: 90px;
}
#sessions .session .speaker-name:hover .speaker-bio {
    display: block;
    cursor: help;
}
#sessions .session ul {
    margin: 0;
    padding: 0;
    color: #948988;
}
#sessions .session ul li {
    list-style: none;
    padding: 0;
    line-height: 18px;
}
#sessions .session ul li strong { font-weight: normal; }

#sessions .session ul .tag-list { display: none; }
.js #sessions .session ul .tag-list { display: block; }

#sessions #filter {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    font-family: 'Droid Sans', Arial;
    font-size: 15px;
    z-index: 97;
}
.js #sessions #filter { display: block; }
#sessions #filter #current-track {
    background: transparent url(filter-sprite.png) no-repeat top right;
    color: #205aaf;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    margin-left: 8px;
    padding-right: 50px;
}
.degrade #sessions #filter #current-track,
#sessions.degrade #filter #current-track { display: inline; }
#sessions #filter #current-track span {
    background: #FFF url(filter-sprite.png) no-repeat top left;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    padding-left: 15px;
}
#sessions #filter #current-track:hover {
    background-position: right -31px;
}
#sessions #filter #current-track:hover span {
    background-position: left -31px;
}

#sessions #filter-table {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 1px;
    top: 31px;
    width: 300px;
}
#sessions #filter:hover table { display: block; }
#sessions #filter-table td {
    vertical-align: top;
    padding: 3px 10px 3px 3px;
}

#sessions #legend {
    margin-left: -28px;
    overflow: hidden;
    padding: 0 0 40px;
    width: 878px;
}
#sessions #legend h2 {
    padding-left: 28px;
}
#sessions #legend div.legend-item {
    float: left;
    width: 30%;
    margin-left: 28px;
    min-height: 180px;
    height: 180px;
}
#sessions #legend div.legend-item h3 {
    font-size: 22px;
}
#sessions #legend div.legend-item p {
    font: 15px Arial;
    color: #999;
}
#sessions hr {
    background: #ECECEC;
    color: #ECECEC;
    border: 1px solid #ECECEC;
    display: block;
    margin: 20px 0 30px 0;
    clear: both;
}

/* Session Detail */
#session-detail { padding-bottom: 1px; }

#session-detail #content { 
    padding: 0;
    width: 930px;
}

#session-detail #session-info {
    border-bottom: 1px dotted #d2d2d2;
    padding: 40px;
}
#session-detail #session-info h2 {
    color: #0a67c5;
    margin: 0 0 4px;
}
#session-detail #speaker-list {
    color: #363636;
    font: 18px/1.2 "Droid Sans", sans-serif;
    margin: 0 0 24px;
}

#session-detail #description-container {
    overflow: hidden;
    width: 100%;
}
#session-detail #description {
    border-right: 1px dotted #d2d2d2;
    color: #939393;
    float: left;
    font: 18px/1.4 "Droid Sans", sans-serif;
    margin: 0;
    padding-right: 26px;
    width: 540px;
}
#session-detail #session-stats {
    color: #363636;
    font: normal 13px/1.8 "Droid Sans", sans-serif;
    float: left;
    margin: 0 0 0 26px;
    padding: 0;
    width: 255px;
}
#session-detail #session-stats span {
    color: #939393;
    margin-left: 12px;
}

#session-detail #livestream iframe {
    margin-top: 40px;
}

#session-detail #speaker-info {
    background: #f3f3f3;
    padding: 40px 40px 1px;
}
#session-detail #speaker-info .speaker {
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%;
}
#session-detail #speaker-info .has-image .image {
    border: 1px solid #c5c5c5;
    background-color: #fff;
    background-position: center center;
    float: left;
    height: 121px;
    margin-right: 22px;
    width: 121px;
}
#session-detail #speaker-info .has-image .bio {
    float: left;
    width: 705px;
}
#session-detail #speaker-info .bio p {
    color: #363636;
    font: 13px/1.5 "Droid Sans", sans-serif;
    margin: 0;
}

#session-detail #session-navigation {
    font: 15px/1 "Droid Sans", sans-serif;
    line-height: 35px;
    position: absolute;
    right: 40px;
    top: 40px;
}

/* Travel */
#travel #content { overflow: hidden; }
#travel #content ul {
    margin: 0 0 20px 0;
    padding: 0;
}
#travel #content ul li {
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none;
}
#travel #content dt {
    margin-top: 10px;
}
#travel #content dd {
    margin-left: 0;
    padding-left: 0;
}
#travel #content dd.price {
    font-style: italic;
}
#travel #content #travel-map {
    float: right;
    margin-left: 20px;
    width: 400px;
}
#travel #content #map {
    width: 400px;
    height: 380px;
}
#travel #content #travel-details {
    float: left;
    width: 430px;
}
#travel p.note {
    margin: 20px 0 0 0;
    padding: 0;
}

/* Info */
ul#sub-nav {
    list-style:none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 35px 0;
    font-family: 'Droid Sans', Arial;
}

ul#sub-nav li {
    float: left;
    font-weight: normal !important;
    margin-right: 10px !important;
    font-size: 35px;
    padding-left: 2px !important;
}

ul#sub-nav li span {
    margin: 0 5px 0 20px;
    color: #cfcfcf;
}

ul#sub-nav li a {
    
}
#about ul#sub-nav li.about a { color: #363636; }
#travel ul#sub-nav li.travel a { color: #363636; }
#register ul#sub-nav li.register a { color: #363636; }

/* About */
#about #content {
    position: relative;
    padding-bottom: 20px;
}
#about #content #register-button {
    position: absolute;
    top: 40px;
    right: 40px;
    display: block;
    width: 132px;
    height: 37px;
    background: transparent url(reg-button.png) no-repeat top left;
    font-family: 'Droid Sans', Arial;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}
#about #content #register-button:hover {
    background-position: left -37px;
}
#about #about-head {
    font: 22px 'Droid Sans', Arial;
    color: #939393;
    font-weight: normal;
    line-height: 32px;
    margin: 40px 0;
}
#about div.about-item {
    clear: left;
}
#about div.about-item img {
    float: left;
    margin: 0 20px 20px 0;
}

/* Register */
#register h2 {
    margin: 20px 0;
}
#register table {
    border-collapse: collapse;
    width: 100%;
}
#register table td {
    padding: 5px 0;
}
#register #pricing {
    width: 45%;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}
#register #questions {
    width: 45%;
    float: right;
    margin-bottom: 20px;
}
#register p.note {
    color: #898989;
    font-size: 13px;
    font-style: italic;
    clear: both;
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 100%;
}
#register #content {
    position: relative;
}
#register #content #register-button {
    position: absolute;
    top: 40px;
    right: 40px;
    display: block;
    width: 132px;
    height: 37px;
    background: transparent url(reg-button.png) no-repeat top left;
    font-family: 'Droid Sans', Arial;
    line-height: 37px;
    text-align: center;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}
#register #content #register-button:hover {
    background-position: left -37px;
}

/* Agenda */
#agenda #content {
    overflow: hidden;
}
#agenda h2 {
    margin: 30px 0;
}
#agenda div.agenda-header {
    padding-left: 200px;
    width: 690px;
}
#agenda div.agenda-header span.schedule-hour {
    width: 40px;
    display: inline-block;
    height: 20px;
}
#agenda div.agenda-row {
    position: relative;
    height: 30px;
    margin: 0;
    background: transparent url(agenda-row-bg.png) repeat-x 200px bottom;
    border-top: 1px solid #FFF;
    width: 841px;
}
#agenda div.alt {
    background: transparent url(agenda-row-alt-bg.png) repeat-x 200px bottom;
}
#agenda div.agenda-row div.agenda-item {
    position: absolute;
    top: 0;
    height: 30px;
    background: #156abf;
    color: #FFF;
    opacity: 0.8;
}
#agenda div.agenda-row div.agenda-item:hover {
    cursor: pointer;
}
#agenda div.agenda-row label {
    line-height: 30px;
    background: #FFF;
    width: 190px;
    display: inline-block;
    font-family: 'Droid Sans', Arial;
    padding-left: 10px;
}
#agenda div.alt label {
    background: #EFEFEF;
}
#agenda div.agenda-row div.agenda-item span {
    color: #6da4d9;
    font-size: 36px;
    line-height: 30px;
}
#agenda div.agenda-row div.agenda-item:hover span {
    color: #07498b;
}
#agenda #info-balloon {
    background: transparent url(agenda-info-balloon.png) no-repeat top left;
    position: absolute;
    width: 242px;
    height: 79px;
    padding: 10px;
    z-index: 99;
}
#agenda #info-balloon h4 {
    font-family: 'Droid Sans', Arial;
    font-size: 15px;
    font-weight: normal;
    color: #5b4f31;
    margin: 0 0 3px 0;
    padding: 0;
}
#agenda #info-balloon p {
    font-family: 'Droid Sans', Arial;
    font-size: 15px;
    font-style: italic;
    color: #978149;
    margin: 0 0 3px 0;
    padding: 0;
}

/* I/O Live */
#badge h3 {
    font-weight: normal;
    color: #363636;
    margin-bottom: 30px;
}
#badge #io-live-head {
    font: 22px 'Droid Sans', Arial;
    color: #939393;
    font-weight: normal;
    margin: 40px 0;
    line-height: 34px;
}
#badge #save-the-date {
    float: left;
    width: 280px;
    color: #252525;
}
#badge #save-the-date strong {
    color: #363636;
    display: block;
}
#badge #rsvp {
    margin-left: 340px;
}
#badge #rsvp-info {
    margin-left: 121px;
}
#badge #rsvp h4 {
    color: #939393;
    font-size: 22px;
    line-height: 28px;
}
#badge #io-live-snippet {
    background: #e0e0e0;
    border: 0;
    color: #898989;
    font: 14px 'Droid Sans', arial;
    width: 370px;
    padding: 10px;
}
#badge div.io-live-badge {
    float: left;
}
#badge a#twitter-link {
    position: absolute;
    top: 45px;
    right: 45px;
}

/* Announcements Archive */
#announcements-archive #content {
    padding: 0 0 10px 0;
    width: 930px;
}
#announcements-archive h1 {
    border-bottom: 1px dotted #CCC;
    padding: 30px 40px;
    font-size: 25px;
}
#announcements-archive #announcements-container {
    margin-top: 80px;
}
#announcements-archive #announcements-container h3 {
    color: #d4d4d4;
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 40px;
}
#announcements-archive #announcements-container div.announcement {
    margin-bottom: 30px;
    font-family: 'Droid Sans', Arial;
    padding: 0 40px;
}
#announcements-archive #announcements-container h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#announcements-archive #announcements-container p {
    margin: 0;
    padding: 0;
}
#announcements-archive #announcements-container p strong,
#announcements-archive #announcements-container p span.date {
    color: #939393;
}
#announcements-archive #announcements-container p span.date { 
    font-size: 11px;
}
#announcements-archive #filter {
    position: absolute;
    top: 120px;
    right: 40px;
    font-family: 'Droid Sans', Arial;
    font-size: 15px;
    z-index: 97;
}
#announcements-archive #filter #button {
    display: inline-block;
    height: 31px;
    background: transparent url(filter-sprite.png) no-repeat top right;
    line-height: 31px;
    padding-right: 50px;
}
#announcements-archive #filter #button label {
    display: inline-block;
    height: 31px;
    background: #FFF url(filter-sprite.png) no-repeat 72px top;
    line-height: 31px;
    padding-right: 20px;
    margin-right: 7px;
    color: #343434;
    z-index: 3;
}
#announcements-archive #filter #button:hover {
    background-position: right -31px;
}
#announcements-archive #filter #button:hover label {
    background-position: 72px -31px;
}
#announcements-archive #filter-table {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 20px;
    display: none;
    position: absolute;
    right: 1px;
    top: 31px;
    width: 300px;
}
#announcements-archive #filter-table:hover {
    display: block;
}
#announcements-archive #filter-table td {
    vertical-align: top;
    padding: 3px 10px 3px 3px;
}
#announcements-archive #filter a:hover + table {
    display: block;
}

/* Footer */
#footer {
    background: transparent url(footer-bg.png);
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
#footer-content {
    margin: 0 auto;
    width: 930px;
    position: relative;
}
#footer ul {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -4px;
    line-height: 55px;
}
#footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
a.share {
    background-image: url(footer-sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 55px;
    text-indent: -999px;
    overflow: hidden;
}
#share-buzz-link {
    background-position: 0 0;
}
#share-buzz-link:hover {
    background-position: 0 -55px;
}
#share-reddit-link {
    background-position: -45px 0;
}
#share-reddit-link:hover {
    background-position: -45px -55px;
}
#share-twitter-link {
    background-position: -90px 0;
}
#share-twitter-link:hover {
    background-position: -90px -55px;
}
#share-facebook-link {
    background-position: -135px 0;
}
#share-facebook-link:hover {
    background-position: -135px -55px;
}
#footer p {
    position: absolute;
    right: 0;
    line-height: 55px;
    padding: 0;
    margin: 0;
}
#footer #mobile-site {
    font-weight: bold;
    margin-left: 3em;        
}
