.clr_bg_red{
	background-color: #ff4c4d;
}

.clr_bg_yellow{
	background-color: #FFBE00;
}

.clr_bg_lightyellow{
	background-color: #FFD776;
}

.clr_bg_lightningyellow{
	background-color: #fecd42;
}

.clr_bg_highlightyellow{
	background-color: #FF9;
}

.clr_bg_green{
	background-color: #739826;
}

.clr_bg_lightgreen{
	background-color: #e2efba;
}

.clr_bg_pale_green{
	background-color: #ccfdce;
}

.clr_bg_pink{
	background-color: #d03cd2;
}

.clr_bg_red{
	background-color: #ff4c4d;
}

.clr_bg_white{
	background-color: #fff;
}

.clr_bg_purple{
	background-color: #d03cd2;
}

.clr_bg_pale_purple{
	background-color: #fbc9fc;
}

.clr_bg_pale_pink{
	background-color: #fbc9fc;
}

.clr_bg_orange{
	background-color: #ff8833;
}

.clr_bg_pale_orange{
	background-color: #fedfc2;
}

.clr_bg_blue{
	background-color: #508cd2;
}

.clr_bg_pale_blue{
	background-color: #c9e3fe;
}

.clr_bg_brown{
	background-color: #996734;
}

.clr_bg_pale_brown{
	background-color: #f7cf9b;
}

.clr_font_blue{
	color: #1b3955;
}

.clr_font_blue_hover{
	color: #450949;
}

.clr_font_blue_hover:hover{
	color:#fff;
	background-color:#1a589e;
}

.clr_font_green{
	color: #0a470a;
}

.clr_font_green_hover{
	color: #450949;
}

.clr_font_green_hover:hover{
	color:#fff;
	background-color:#2f9a31;
}

.clr_font_purple{
	color: #450949;
}

.clr_font_purple_hover{
	color: #450949;
}

.clr_font_purple_hover:hover{
	color:#fff;
	background-color:#dc1dde;
}

.clr_font_pink{
	color: #450949;
}

.clr_font_pink_hover{
	color: #450949;
}

.clr_font_pink_hover:hover{
	color:#fff;
	background-color:#dc1dde;
}

.clr_font_orange{
	color: #4b2501;
}

.clr_font_orange_hover{
	color: #450949;
}

.clr_font_orange_hover:hover{
	color:#fff;
	background-color:#fc5a20;
}

.clr_font_brown{
	color: #3a1d00;
}

.clr_font_white{
	color: #fff;
}

.clr_font_black{
	color: #000;
}

.clr_font_red{
	color: #f00;
}

.clr_estimate_green{
	background: #00691A;
	color: #fff;
}

.clr_estimate_yeen{
	background: #99cc33;
}

.clr_estimate_yellow{
	background: #ffcc00;
	color: #000;
}

.clr_estimate_red{
	background: #ff3300;
	color: #000;
}

.clr_estimate_grey{
	background: #888;
	color: #fff;
}



