.dnnLanguages input[type="checkbox"]{width:auto;}
.dnnLanguages .enableLocalization{float:right;}
	.dnnLanguageEditor .dnnLangEditorTree{width:25%;}
	.dnnLanguageEditor .dnnLangEditorContent{width:73%;}
		.dnnLangEditorContent .dnnGrid{width:100%;}
.dnnFormItem input[type="text"]{width:30%;margin-right:15px;}
	.dnnLangEditorContent .dnnGrid input[type="text"], .dnnLangEditorContent .dnnGrid textarea{width:85%;}
.dnnFormItem input[type="checkbox"]{margin-right:10px}
.dnnLanguageEditor .dnnFormItem label, .dnnLanguagePackWriter .dnnFormItem .dnnFormLabel{width:30%;}
	.dnnFormItem .dnnFormRadioButtons label{width:auto}
.dnnLanguageEditor .dnnFormItem .dnnLEMode label{font-weight:normal;margin:0 15px 0 5px}
.dnnLanguageEditor .dnnTree .dnnFormItem label{width:70%;}
.dnnFormItem .lpwRadioButtons label {width:auto;}
.dnnFormItem .lpwCheckBoxes label {width:auto;text-align:left}
	.dnnFormItem .lpwRadioButtons input[type=radio]{width:auto;}
	.dnnFormItem .lpwRadioButtons label, .dnnFormItem .lpwRadioButtons input{float:left;padding:0;width:3%;text-align:left;}
	.dnnFormItem .lpwRadioButtons br{display:none !important;font-size:0;line-height:0;border-collapse:collapse;}
	.dnnFormItem .lpwRadioButtons label{width:auto;padding-left:5px;padding-right:15px;font-weight:normal;margin-top:0;}
.dnnLanguageCombo {width:450px; float:left;}
.dnnFormItem .dnnLanguageCombo label {width:auto;padding-right:15px;padding-left:5px;font-weight:normal;margin-top:0;}
.dnnFormItem label {width:30%;}
.dnnLanguagePackWriter .lpwCheckBoxes{display:block;min-width:450px}
.dnnLanguagePackWriter .lpwCheckBoxes label{font-weight:normal;margin-top:0;}
.dnnLanguageTextEditor .dnnLTextEditor{margin-left:31%;}
	.dnnLanguageTextEditor .dnnLTextEditor label{width:auto;font-weight:normal;margin-top:0;margin-left:5px;text-align:left;}
	
.enableLocalizationProgress .RadUploadProgressArea{width: 900px;}
	.enableLocalizationProgress .RadUploadProgressArea .ruShadow{margin:0px; padding:0px; border-bottom:none;}
	.enableLocalizationProgress .RadUploadProgressArea .ruShadow > div{margin:10px; background-image:none; padding-left:20px;}
	.enableLocalizationProgress .RadUploadProgressArea .ruShadow .ruProgress li{margin-bottom:14px;}
	.enableLocalizationProgress .RadUploadProgressArea .ruShadow .ruProgress li.ruCurrentFile{margin-top:10px;}
	.enableLocalizationProgress .RadUploadProgressArea .ruShadow .ruProgress li.ruTimeSpeed{margin-bottom:10px;}
	
	.enableLocalizationProgress .RadUploadProgressArea_Simple .ruProgress {background-image:none; padding-left:20px;}
	.enableLocalizationProgress .RadUploadProgressArea_Simple .ruProgress .ruBar div {background-image:none; background:#ccc; border-right: 1px solid #333 }
	.enableLocalizationProgress .RadUploadProgressArea > .ruShadow {background-image:none;}
	
	.enableLocalizationProgress .RadUploadProgressArea li.ruProgressHeader{margin:0px;}
	
.dnnLangEditorContent .dnnGrid .Pending {border-style: solid; border-color: Red;}