<?xml version="1.0" ?>
<!DOCTYPE niktoscan SYSTEM "#NIKTODTD">
<niktoscan hoststest="#TEMPL_NIKTO_HOSTS_TESTED" options="#TEMPL_NIKTO_CLI" version="#TEMPL_NIKTO_VER" scanstart="#TEMPL_SCAN_START" scanend="#TEMPL_SCAN_END" scanelapsed="#TEMPL_SCAN_ELAPSED" nxmlversion="1.1">
