.dnnSecurityRoles, .dnnManageUsers, .dnnProfileProperties, .dnnEditProfileDef, .dnnPassword, .dnnProfile, .dnnRoleDetails, .dnnManageSecurityRoles, .dnnUserSettings{margin:1em auto 2.5em;}
	.dnnSecurityRoles .dnnGrid td, .dnnGrid.dnnSecurityRoles td{padding:12px 10px;}
		.dnnProfileProperties .dnnGridHeader{font-size:11px;text-align:left;}
	.dnnGrid.dnnSecurityRolesGrid td{padding:8px 5px;}
	.dnnGrid.dnnSecurityRolesGrid{margin-bottom:1em;}
	.dnnFormItem input.dnnUserSearchInput{width:40%;}
	#dnnUsers select.dnnUsersSearchFilter{padding:5px;margin:0 8px;width:20%;}
	#dnnUsers .uLetterSearch li{list-style-type:none; display:inline; padding-left: 1em;}
.uLetterSearch{padding-top:10px;padding-bottom:10px;text-align: center;}
.dnnRequireProfile .dnnForm , .dnnUser, .dnnMembership{width:46%; float:left;}
.dnnProfileDetails .dnnFormItem .dnnTooltip{width:20%;}
.dnnProfileDetails .dnnFormItem select.dnnFormVisibility{width:100px;}


.dnnUserSettings .dnnFormItem input[type="radio"]{float:none;}
.dnnUserSettings .dnnFormItem .dnnFormInput span{margin:0px 10px 0px 10px; }
.dnnEditRole .dnnFormItem input[type="checkbox"]{width:auto;}
	.dnnEditRole .dnnFormItem input[type="text"]{margin-right:10px;}
	.erasContent .dnnFormMessage{display:block;}
	.dnnEditRole .erasContent .urlControl .dnnFormItem{margin:0;padding:0;}
	.dnnEditRole .erasContent .urlControl .dnnFormLabel{font-weight:normal;}
.dnnSecurityRoles .dnnFormItem label, .dnnUser .dnnFormItem .dnnFormLabel{width:100%;}
p.dnnFormRequired span{border-left:5px #F00 solid;padding-left:0.5em;}	
	.dnnUser a.dnnPrimaryAction, .dnnUser a.dnnPrimaryAction:link, .dnnUser a.dnnPrimaryAction:visited {color:White;}	
	.dnnPassword a.dnnPrimaryAction, .dnnPassword a.dnnPrimaryAction:link, .dnnPassword a.dnnPrimaryAction:visited {color:White;}	
.dnnProfile .dnnFormRadioButtons input{float:none;margin-left:5px;margin-right:5px;}
.dnnProfile .dnnFormRadioButtons select{margin-left:10px;margin-right:10px;}
	.dnnProfile .dnnFilePicker .dnnFormItem{padding:0;}
	.dnnProfile .dnnFormItem input[type="text"], .dnnProfile .dnnFormItem select{margin-right:10px;}
.dnnProfileDetails .dnnFormItem select{width: 300px;}
.dnnProfileDetails .dnnFormItem .dnnFormVisibility{width:42%;float:right;}
.dnnProfileDetails .dnnFormItem .dnnFormVisibility input[type="radio"]{width:8%;float:none;}
.dnnProfileDetails .dnnFormItem .dnnFormInput input[type="radio"]{width:8%;float:none;}
.dnnEditRoleGroups .dnnFormItem input, .dnnEditRoleGroups .dnnFormItem textarea{width:35%;}
.erAdvancedSettings .dnnFormItem input[type="text"], .dnnManageUsers .dnnFormItem input[type="text"]{width:35%;}
.dnnEditProfileDef .dnnFormMessage{display:block;}
.dnnUserSettings .dnnFormItem span {padding: 0px 10px 0px 5px;}

.dnnManageSecurityRoles .dnnFormItem .dnnTooltip {width:100%; }
.dnnManageSecurityRoles .dnnFormItem input {float:none;}