/* ===========   Extensions Module Styling   =========== */
#dnnExtensions{ min-width: 640px;}
.dnnEditExtension, .dnnInstallExtension, .dnnUnInstallExtension, .dnnEditDefinition, .dnnForm.dnnEditModuleControl{width:96%;margin:2em auto;}
    .dnnEditExtension .dnnFormItem input[type="text"], .dnnEditExtension .dnnFormItem textarea, .dnnCreateExtension .dnnFormItem input[type="text"], .dnnEditDefinition .dnnFormItem input[type="text"], .dnnEditDefinition .dnnFormItem textarea,
	.dnnEditModuleControl .dnnFormItem input[type="text"]{min-width:35%;}
		.dnnExtensionsPackageWriter .dnnFormItem input[type="text"]{margin-right:15px;min-width:35%;}
		.dnnExtensionsPackageWriter .dnnFormItem.extPWMiltiLine textarea{width:60%;margin-left:26%;}
    .dnnDeployExtension .dnnFormItem > span, .dnnInstallExtension .dnnFormItem > span, .dnnUnInstallExtension .dnnFormItem span{display:inline-block}
    .dnnDeployExtension .dnnFormItem > span, .dnnInstallExtension .dnnFormItem > span{width:68%;}
    .dnnInstallExtension .dnnFormItem > span.dnnFormLabel{width:auto;}
    .dnnEditDefinition .dnnFormInput.dnnSSRadioButtons label{width:125px;display:inline;}
    .dnnAuthenticationSettings .dnnFormItem label{width:100%;}
#dnnExtensions .dnnGridHeader td, #dnnExtensions .dnnGridHeader th{font-size:14px;color:#333;text-shadow:1px 1px 0 #fff;background:#eee}
	#dnnExtensions .dnnGrid td, #dnnExtensions .dnnGrid th{padding:14px 10px;}
.dnnEditDefinition .dnnFormRadioButtons{min-width:35%;}
.dnnInstallLogs{height:350px; overflow:auto;}

.dnnEditExtension .dnnForm .dnnFormItem>span{width:60%; display:inline-block;}

/* ===========   Extensions Module Styling   =========== */

/* ===========   More Extensions Module Styling   =========== */
.dnnProduct{padding:10px 0;margin-bottom:20px;border-bottom:1px #ccc solid;}
.dnnCatalogTags{width: 30%;float:left;}
	.dnnCatalogSearch input{width:60%;}
	.dnnCatalogSearch .dnnClear{margin-left:32.5%;}
		.dnnCatalogSearch .dnnClear a.dnnPrimaryAction{padding:6px 12px;line-height:1.2;}
.dnnCatalogListing{width:68%;float:right;}
.dnnProductImage{float:left;width:20%;}
.dnnProductImage img {max-height:100px;max-width:100px;padding:5px 20px 5px 5px;}
.dnnProductDetails{float:right;width:78%;}
    a.dnnPDViewDetails{clear:both;display:block;}
    .dnnProductDetails a.dnnPrimaryAction, .dnnProductDetails a.dnnPrimaryAction:link, .dnnProductDetails a.dnnPrimaryAction:visited{margin-top:10px;line-height:1.2;padding:8px 12px;}
.dnnIcon {width:16px;}
    a.dnnProductTitle, a.dnnProductTitle:link, a.dnnProductTitle:visited, a.dnnProductTitle:active { font-size: 1.4em; color:black; display:block}
    h3.dnnProductTitle{font-weight:bold;padding:0;margin:0;font-size:1.4em;}
.dnnProductVersionLabel, .dnnProductLicenseLabel {font-weight:bold;}
.dnnProductOwner {display:block;padding-bottom:10px;}
.dnnProductDescription {display:block;padding-bottom:15px;}
.dnnProductPrice {font-size:1.4em;font-weight:bold;padding:10px 0 5px 10px;margin-bottom:5px;}
.dnnProduct {padding-top:10px;}
.dnnSearchFilters, .dnnFormItem label .dnnSearchFilters{border:#46A3D3 2px solid;color:#085B8F;background:#EDF8FF;-moz-border-radius:3px;border-radius:3px;text-shadow:0px 1px 1px white;filter: dropshadow(color=white, offx=1, offy=1);font-weight: normal;padding: 0.8em 1em 0.8em 1em;margin: 5px;}
.loading-image {width:24px;height:24px;text-align:center;vertical-align:middle;}
.dnnCatalogLoading{text-align:center;vertical-align:middle;width:150px;height:20px;background-color:#369;border:3px solid #000000;color:White;position:absolute;right:0;top:0px;z-index:1005;}
.dnnFormInfo a.info{ font-weight: bold;color: #269D2D;}
/* ===========   More Extensions Module Styling   =========== */

/* ===========   Store Login Styling   =========== */
.dnnStore input[type=text], .dnnStore input[type=password]{min-width:35%;}