<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>qrc.icns</string>
	<key>CFBundleIdentifier</key>
	<string>dragdrop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QRC reader</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>.9</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/dragdrop.jar:$JAVAROOT/core.jar:$JAVAROOT/pqrcode.jar:$JAVAROOT/qrcode.jar</string>
		<key>JVMVersion</key>
		<string>1.3+</string>
		<key>MainClass</key>
		<string>dragdrop</string>
		<key>Properties</key>
		<dict>
			<key>apple.awt.Antialiasing</key>
			<string>false</string>
			<key>apple.awt.TextAntialiasing</key>
			<string>true</string>
			<key>apple.awt.showGrowBox</key>
			<string>false</string>
			<key>apple.awt.use-file-dialog-packages</key>
			<string>false</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>com.apple.hwaccel</key>
			<string>true</string>
			<key>com.apple.smallTabs</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xms128M -Xmx256M</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2008 Mathew Bentz</string>
</dict>
</plist>
