/* ===========   Page Settings Module Styling   =========== */
.dnnTabsModule{width:100%;margin:2em auto;}
	.dnnTabsModule div.dnnPageDetails, .dnnTabsModule div.dnnCopyPage, .dnnTabsModule div.dnnPermissions, .dnnTabsModule div.dnnLocalization, .dnnTabsModule div.dnnAdvancedSettings {padding:0;margin-top:0.5em;}
		.dnnTabsModule textarea{min-height:100px;}
		.dnnTabsModule .dnnFormItem input, .dnnTabsModule .dnnFormItem .dnnFormInput, .dnnTabsModule .dnnFormItem textarea{width:45%;}
			.dnnTabsModule .dnnFormItem input[type=checkbox], .dnnTabsModule .dnnFormItem input[type=radio]{width:auto;}
				.dnnTabsModule .dnnFormItem input[type=radio]{margin-top:4px;}
	.dnnFormItem.ssbsAppearance label{width:20%;text-align:right;padding-right:2%;font-weight:bold;}
		.dnnFormItem.ssbsAppearance label label{width:100%;}
		span.CacheDurationRowInfo{width:100%;float:none;clear:both;display:block}
	.dnnTabsModule .ssseContent textarea{margin:1em;min-width:52em;}
	.ssseContent ul.dnnActions{padding:0em 2em 3em;border:none;overflow:hidden;clear:both;}
	.dnnTabsModule div.dnnssStat{border-top:1px #ccc solid;padding:1em 0 4em;overflow:hidden;}
	.dnnssStat p{float:left;padding-right:2em;}
		p.dnnFormRequired span{border-left:5px #F00 solid;padding-left:0.5em;}
	.dnnPortalAliasGrid{float:right;}
		.dnnPortalAliasGrid td{padding:3px 5px;}
			.dnnPortalAliasGrid td input.dnnFormInput{width:42%;}
		.dnnPortalAliasGridHeader{border-bottom:1px #ddd solid;font-weight:bold;font-size:110%;}
		.dnnPortalAliasGridItem{border-bottom:1px #eee solid}
		.dnnPortalAliasGridAltItem{background:#f1f1f1;}
	.ssasPortalAlias .dnnFormItem span.CommandButton{clear:both;overflow:hidden;display:block;margin-left:26%;}
	.dnnPortalSignup .dnnFormMessage.dnnFormWarning{max-width:100%;}		
		.dnnTabsModule .ucLinkTypeRadioButtons input{margin-right:5px;}
	.dnnTabsModule .urlControl{display:block;float:left;}
	.dnnTabsModule .urlControlLinkType{min-width:280px;}
	.dnnTabsModule .urlControlLinkType label, .dnnTabsModule .urlControlLinkType .dnnFormLabel, .dnnTabsModule .urlControlFileRow .dnnFormLabel, .dnnTabsModule .urlControlImagesRow .dnnFormLabel, .dnnTabsModule .urlControlFileRow label{width:auto;font-weight:normal;margin:0;}
	.dnnTabsModule .urlControlFileRow .dnnFormItem, .dnnTabsModule .urlControlImagesRow{padding:0;width:100%;}
	.dnnTabsModule .urlControlFileRow .dnnFormItem select{width:60%!important;}
	.dnnTabsModule .CacheDurationInfo .dnnFormMessage{display:block;overflow:hidden;margin-top:0.5em;margin-left:34.5%;}
		.dnnTabsModule .CacheDurationInfo{overflow:hidden;width:75%;}
	
	.dnnForm.dnnPageSettings .dnnFormItem span.dnnFormMessage.dnnFormError{left:65%;}
/* ===========   End Page Settings Module Styling   =========== */
/* ===========   Pages Module Styling   =========== */
.dnnTabsModule{width:100%;}
.tmTabContainer{float:left;width:65%;margin: 20px 0 0 40px;}
.dnnTabContent{padding: 20px;}
.dnnTreeArea{float:left;margin-left: 5px;width: 250px;padding-bottom:20px;}
.dnnTreePages{border-right: 1px solid #ccc; margin-bottom:20px;margin-top:10px}
.dnnTreeLegend{clear:both;border: 1px solid #d5d5d5;background: #eee;padding:5px; margin-left:5px; margin-top: 10px;padding-bottom:10px;}
	.dnnTreeLegend h3{margin-top:10px;}
		.dtlItem{margin-left: 10px;white-space: nowrap;margin-top:5px;}
#dnnTabsModule .dnnHSRadioButtons input{float:none;}
#dnnTabsModule .dnnHSRadioButtons label{float:none;width:auto;display:inline;padding-left:4px;}
#dnnTabsModule .ucLinkTypeRadioButtons{width:100%;}
#dnnTabsModule .dotnetnuke_tree ul{border-bottom:none;}
	#dnnTabsModule .dotnetnuke_tree li{float:none;}
#dnnTabsModule .dnnFormExpandContent {position:static;text-align:right;}
.dnnTreeExpand {position:static;text-align:right;padding-right:8px;}
.tmTabContainer .dnnFormItem textarea{width: 350px;min-height: 200px;}
.tmTabContainer .dnnFormHelpContent { position: static;}

.tmTabContainer .dnnFormItem .dnnTooltip {width:15%;}

/* ===========   End Pages Module Styling   =========== */