.Notebook {
  font-size: 12px;
  background-color: #FFF5E6;
  padding: 8px;
}
.Title {
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
  color: #66003D;
  background-color: #FFF5E6;
  line-height: 1.31111;
  padding: 6px;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.TitleInline {
  font-size: 36px;
  font-family: Helvetica;
  font-weight: bold;
  color: #66003D;
  line-height: 1.31111;
}
.Subtitle {
  font-size: 24px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  line-height: 1;
  padding: 8px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 2px;
}
.SubtitleInline {
  font-size: 24px;
  font-family: Helvetica;
  line-height: 1;
}
.Section 1 {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #FFF5E6;
  padding-left: 0px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 3px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #66003D;
}
.Section 1Inline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
}
.Section {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 4px;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #66003D;
}
.SectionInline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
}
.Subsection {
  font-size: 14px;
  font-family: Times;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 38px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 2px;
  display: list-item;
  list-style-type: square;
}
.SubsectionInline {
  font-size: 14px;
  font-family: Times;
  font-weight: bold;
}
.Subsubsection {
  font-size: 12px;
  font-family: Times;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 4px;
  display: list-item;
  list-style-type: square;
}
.SubsubsectionInline {
  font-size: 12px;
  font-family: Times;
  font-weight: bold;
}
.Text {
  font-family: Times;
  background-color: #FFF5E6;
  text-align: justify;
  line-height: 1.16667;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.TextInline {
  font-family: Times;
  text-align: justify;
  line-height: 1.16667;
}
.Commentary {
  font-size: 10px;
  font-family: Helvetica;
  color: #000066;
  background-color: #FFF5E6;
  text-align: justify;
  line-height: 1.2;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.CommentaryInline {
  font-size: 10px;
  font-family: Helvetica;
  color: #000066;
  text-align: justify;
  line-height: 1.2;
}
.Input {
  font-size: 12px;
  font-weight: bold;
  background-color: #F7F7F7;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.InputInline {
  font-size: 12px;
  font-weight: bold;
  background-color: #F7F7F7;
}
.InlineInput {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.InlineInputInline {
  font-weight: bold;
}
.Output {
  font-size: 12px;
  background-color: #D9D9D9;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #000000;
}
.OutputInline {
  font-size: 12px;
  background-color: #D9D9D9;
}
.InputOnly {
  font-size: 12px;
  font-weight: bold;
  background-color: #F7F7F7;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  border: 1px;
  border-style: solid;
  border-color: #000000;
}
.InputOnlyInline {
  font-size: 12px;
  font-weight: bold;
  background-color: #F7F7F7;
}
.Message {
  font-size: 10px;
  font-family: Helvetica;
  font-style: oblique;
  color: #000000;
  background-color: #FFFFFF;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
  display: list-item;
  list-style-type: square;
}
.MessageInline {
  font-size: 10px;
  font-family: Helvetica;
  font-style: oblique;
  color: #000000;
  background-color: #FFFFFF;
}
.Print {
  background-color: #B3B3B3;
  text-align: left;
  padding: 8px;
  margin-left: 55px;
  margin-right: 26px;
  margin-top: 6px;
  margin-bottom: 1px;
}
.PrintInline {
  background-color: #B3B3B3;
  text-align: left;
}
.Graphics {
  background-color: #D9D9D9;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.GraphicsInline {
  background-color: #D9D9D9;
}
.CellLabel {
  font-size: 10px;
  font-family: Helvetica;
  font-style: oblique;
  color: #990099;
  background-color: #FFF5E6;
  margin-top: 0px;
  margin-bottom: 0px;
}
.Author {
  font-size: 14px;
  font-family: Helvetica;
  font-style: italic;
  background-color: #FFF5E6;
  line-height: 1;
  padding: 8px;
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 5px;
  margin-bottom: 45px;
}
.AuthorInline {
  font-size: 14px;
  font-family: Helvetica;
  font-style: italic;
  line-height: 1;
}
.Abstract {
  font-size: 12px;
  font-family: Times;
  background-color: #FFF5E6;
  line-height: 0.9;
  padding: 8px;
  margin-left: 18px;
  margin-right: 140px;
  margin-top: 30px;
  margin-bottom: 4px;
  border: 0px;
  border-style: solid;
  border-color: #000000;
}
.AbstractInline {
  font-size: 12px;
  font-family: Times;
  line-height: 0.9;
}
.Caption {
  font-size: 9px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.CaptionInline {
  font-size: 9px;
  font-family: Helvetica;
}
.Reference {
  font-family: Times;
  background-color: #FFF5E6;
  text-align: justify;
  line-height: 1;
  padding: 8px;
  margin-left: 24px;
  margin-right: 40px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.ReferenceInline {
  font-family: Times;
  text-align: justify;
  line-height: 1;
}
.PictureGroup {
  background-color: #D9D9D9;
  padding: 8px;
  margin-left: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px;
  border-right: 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.PictureGroupInline {
  background-color: #D9D9D9;
}
.Hyperlink {
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.HyperlinkInline {
  text-decoration: underline;
  color: #0000FF;
}
.MainBookLink {
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.MainBookLinkInline {
  text-decoration: underline;
  color: #0000FF;
}
.AddOnsLink {
  font-family: Courier;
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.AddOnsLinkInline {
  font-family: Courier;
  text-decoration: underline;
  color: #0000FF;
}
.RefGuideLink {
  font-family: Courier;
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.RefGuideLinkInline {
  font-family: Courier;
  text-decoration: underline;
  color: #0000FF;
}
.GettingStartedLink {
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.GettingStartedLinkInline {
  text-decoration: underline;
  color: #0000FF;
}
.OtherInformationLink {
  text-decoration: underline;
  color: #0000FF;
  background-color: #FFF5E6;
  padding: 8px;
}
.OtherInformationLinkInline {
  text-decoration: underline;
  color: #0000FF;
}
.Paste {
  background-color: #FFF5E6;
  padding: 8px;
}
.PasteInline {
}
.Evaluate {
  background-color: #FFF5E6;
  padding: 8px;
}
.EvaluateInline {
}
.EvaluateCell {
  background-color: #FFF5E6;
  padding: 8px;
}
.EvaluateCellInline {
}
.CopyEvaluate {
  background-color: #FFF5E6;
  padding: 8px;
}
.CopyEvaluateInline {
}
.CopyEvaluateCell {
  background-color: #FFF5E6;
  padding: 8px;
}
.CopyEvaluateCellInline {
}
.DisplayFormula {
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
}
.DisplayFormulaInline {
}
.ChemicalFormula {
  background-color: #FFF5E6;
  text-align: justify;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
}
.ChemicalFormulaInline {
  text-align: justify;
}
.Program {
  font-family: Courier;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
  margin-right: 10px;
  margin-top: 0px;
}
.ProgramInline {
  font-family: Courier;
}
.NumberedEquation {
  font-family: Times;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
  margin-right: 85px;
}
.NumberedEquationInline {
  font-family: Times;
}
.NumberedFigure {
  font-family: Times;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 55px;
  margin-right: 95px;
}
.NumberedFigureInline {
  font-family: Times;
}
.NumberedTable {
  font-family: Times;
  background-color: #FFF5E6;
  text-align: center;
  padding: 8px;
  margin-left: 55px;
  margin-right: 95px;
}
.NumberedTableInline {
  font-family: Times;
  text-align: center;
}
.Header {
  font-size: 9px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
}
.HeaderInline {
  font-size: 9px;
  font-family: Helvetica;
}
.PageNumber {
  font-size: 9px;
  font-family: Helvetica;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.PageNumberInline {
  font-size: 9px;
  font-family: Helvetica;
  font-weight: bold;
}
.Footer {
  font-size: 9px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  text-align: center;
  padding: 8px;
}
.FooterInline {
  font-size: 9px;
  font-family: Helvetica;
  text-align: center;
}
.SlideShowNavigationBar {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px;
  border-style: solid;
  border-color: #FFFFFF;
}
.SlideShowNavigationBarInline {
  font-size: 10px;
  background-color: #CCCCCC;
  text-align: center;
}
.SlideShowSection {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #000000;
}
.SlideShowSectionInline {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #6870CC;
}
.SlideHyperlink {
  font-size: 26px;
  color: #666666;
  background-color: #FFF5E6;
  padding: 8px;
}
.SlideHyperlinkInline {
  font-size: 26px;
  color: #666666;
}
.SlideTOCLink {
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 24px;
}
.SlideTOCLinkInline {
  font-family: Helvetica;
}
.SlideTOC {
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 18px;
  display: list-item;
  list-style-type: square;
}
.SlideTOCInline {
  font-family: Helvetica;
}
.Subsubtitle {
  font-size: 16px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 27px;
  margin-top: 2px;
  margin-bottom: 8px;
}
.SubsubtitleInline {
  font-size: 16px;
  font-family: Helvetica;
}
.SmallText {
  font-size: 9px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  line-height: 1.33333;
  padding: 8px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.SmallTextInline {
  font-size: 9px;
  font-family: Helvetica;
  line-height: 1.33333;
}
.FrameLabel {
  font-size: 9px;
  font-family: Helvetica;
  background-color: #FFF5E6;
  padding: 8px;
}
.FrameLabelInline {
  font-size: 9px;
  font-family: Helvetica;
}
.RM {
  font-style: normal;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.RMInline {
  font-style: normal;
  font-weight: normal;
}
.BF {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.BFInline {
  font-weight: bold;
}
.IT {
  font-style: italic;
  background-color: #FFF5E6;
  padding: 8px;
}
.ITInline {
  font-style: italic;
}
.TR {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.TRInline {
  font-family: Times;
  font-style: normal;
  font-weight: normal;
}
.TI {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.TIInline {
  font-family: Times;
  font-style: italic;
  font-weight: normal;
}
.TB {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.TBInline {
  font-family: Times;
  font-style: normal;
  font-weight: bold;
}
.TBI {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.TBIInline {
  font-family: Times;
  font-style: italic;
  font-weight: bold;
}
.MR {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.MRInline {
  font-family: Courier;
  font-style: normal;
  font-weight: normal;
}
.MO {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.MOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: normal;
}
.MB {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.MBInline {
  font-family: Courier;
  font-style: normal;
  font-weight: bold;
}
.MBO {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.MBOInline {
  font-family: Courier;
  font-style: italic;
  font-weight: bold;
}
.SR {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.SRInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
}
.SO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.SOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
.SB {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.SBInline {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
}
.SBO {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
}
.SBOInline {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
}
.SO10 {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
  background-color: #FFF5E6;
  padding: 8px;
}
.SO10Inline {
  font-size: 10px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: normal;
}
.InlineFormula {
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 10px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 0px;
}
.InlineFormulaInline {
}
.Outline1 {
  font-size: 18px;
  font-weight: bold;
  background-color: #FFF5E6;
  text-indent: 0px;
  padding: 8px;
  margin-left: 60px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.Outline1Inline {
  font-size: 18px;
  font-weight: bold;
  text-indent: 0px;
}
.Outline2 {
  font-size: 15px;
  font-weight: bold;
  background-color: #FFF5E6;
  text-indent: 0px;
  padding: 8px;
  margin-left: 90px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.Outline2Inline {
  font-size: 15px;
  font-weight: bold;
  text-indent: 0px;
}
.Outline3 {
  font-size: 12px;
  background-color: #FFF5E6;
  text-indent: 0px;
  padding: 8px;
  margin-left: 120px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.Outline3Inline {
  font-size: 12px;
  text-indent: 0px;
}
.Outline4 {
  font-size: 10px;
  background-color: #FFF5E6;
  text-indent: 0px;
  padding: 8px;
  margin-left: 150px;
  margin-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.Outline4Inline {
  font-size: 10px;
  text-indent: 0px;
}
.RefGuideLinkText {
  text-decoration: underline;
  color: #454F99;
  background-color: #FFF5E6;
  padding: 8px;
}
.RefGuideLinkTextInline {
  text-decoration: underline;
  color: #454F99;
}
.DemosLink {
  text-decoration: underline;
  color: #454F99;
  background-color: #FFF5E6;
  padding: 8px;
}
.DemosLinkInline {
  text-decoration: underline;
  color: #454F99;
}
.TourLink {
  text-decoration: underline;
  color: #454F99;
  background-color: #FFF5E6;
  padding: 8px;
}
.TourLinkInline {
  text-decoration: underline;
  color: #454F99;
}
.MasterIndexLink {
  text-decoration: underline;
  color: #454F99;
  background-color: #FFF5E6;
  padding: 8px;
}
.MasterIndexLinkInline {
  text-decoration: underline;
  color: #454F99;
}
.Placeholder {
  font-style: italic;
  color: #E3DC62;
  background-color: #FFF5E6;
  padding: 8px;
}
.PlaceholderInline {
  font-style: italic;
  color: #E3DC62;
}
.PrimaryPlaceholder {
  font-style: italic;
  background-color: #E9E381;
  padding: 8px;
}
.PrimaryPlaceholderInline {
  font-style: italic;
  background-color: #E9E381;
}
.CellExpression {
  font-size: 12px;
  font-family: Courier;
  background-color: #FFFFFF;
  padding: 8px;
  margin-left: 6px;
}
.CellExpressionInline {
  font-size: 12px;
  font-family: Courier;
  background-color: #FFFFFF;
}
.InputForm {
  font-family: Courier;
  background-color: #FFF5E6;
  padding: 8px;
}
.InputFormInline {
  font-family: Courier;
}
.OutputForm {
  font-family: Courier;
  background-color: #FFF5E6;
  text-align: left;
  line-height: 0.683333;
  padding: 8px;
}
.OutputFormInline {
  font-family: Courier;
  text-align: left;
  line-height: 0.683333;
}
.StandardForm {
  font-family: Courier;
  background-color: #FFF5E6;
  line-height: 1.25;
  padding: 8px;
}
.StandardFormInline {
  font-family: Courier;
  line-height: 1.25;
}
.TraditionalForm {
  background-color: #FFF5E6;
  line-height: 1.25;
  padding: 8px;
}
.TraditionalFormInline {
  line-height: 1.25;
}
.InlineCell {
  background-color: #FFF5E6;
  padding: 8px;
}
.InlineCellInline {
}
.InlineCellEditing {
  background-color: #B8BDE5;
  padding: 8px;
}
.InlineCellEditingInline {
  background-color: #B8BDE5;
}
.UnmatchedBracket {
  color: #C254CC;
  background-color: #FFF5E6;
  padding: 8px;
}
.UnmatchedBracketInline {
  color: #C254CC;
}
.Completions {
  font-family: Courier;
  background-color: #FFF5E6;
  padding: 8px;
}
.CompletionsInline {
  font-family: Courier;
}
.ObjectName {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 66px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.ObjectNameInline {
  font-weight: bold;
}
.Usage {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 66px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.UsageInline {
  font-weight: bold;
}
.Notes {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 66px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.NotesInline {
  font-weight: bold;
}
.InlineOutput {
  font-weight: bold;
  background-color: #FFF5E6;
  padding: 8px;
  margin-left: 66px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.InlineOutputInline {
  font-weight: bold;
}
.script {font-family: Mathematica5, cursive}
.gothic {font-family: Mathematica6, Century Gothic}
.doublestruck {font-family: Mathematica7}